body, html {
  background-color: #D8DBE2;
  font-family: Verdana, sans-serif;
}

.centra-contenuto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 5vh;
}

.btn {
  font-weight: bold;
}

@media (max-width: 768px) {
  .btn {
    font-size: 11px;
    padding: 4px 6px;
  }

  .btn-group {
    width: 100%;
  }
}
